.jounrneyContainer {
  background-image: url("../../Images/journeyBackground.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position-y: bottom;
  width: 100%;
  z-index: 100;
  position: relative;
}
.ourJourneyTitleContainer {
  position: absolute;
  top: -55px;
  left: 30%;
  width: 610px;
  z-index: 50;
}
.ourJourneyTitle {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: -10px;
}
.ourJourneyDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}
.journeyCercle2 {
  position: absolute;
  top: -20px;
  left: -180px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff8db;
  z-index: -100;
}
.journeySmallImg {
  position: absolute;
  right: -650px;
  top: -42px;
}
.journey-img-container {
  width: 348px;
  height: 350px;
}
.journeyImg {
  top: 165px;
  left: -80px;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 100;
}
.journeyCercle {
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  top: 180px;
  left: -37px;
  background-color: #fffef9;
}
.jouneyCercle3 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: -30px;
  left: 550px;
  background-color: #ff730b;
}
.jouneyCercle4 {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: -50px;
  left: -400px;
  background-color: #ff730b;
}
.jouneyCercle5 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #ffedd4;
  top: -180px;
  left: -350px;
  background-color: transparent;
}
.journeyTimelineContainer {
  height: 800px;
  width: 100%;
  left: -30px;
  position: relative;
}
.journeyArrowImg {
  position: absolute;
  right: 180px;
  top: 80px;
  height: 80%;
}
/* Dots css */
.journeyDot1 {
  position: absolute;
  right: 172px;
  top: 80px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot1 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 2 */
.journeyDot2 {
  position: absolute;
  right: 172px;
  top: 220px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot2 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 3 */
.journeyDot3 {
  position: absolute;
  right: 172px;
  top: 340px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot3 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 4 */
.journeyDot4 {
  position: absolute;
  right: 172px;
  top: 460px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot4 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
.timeLineHeader {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.timeLineDes {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* message 1 */
.journeyTimeline1 {
  position: absolute;
  left: 230px;
  top: 160px;
}
/* messasge 2 */
.journeyTimeline2 {
  position: absolute;
  left: 230px;
  top: 400px;
}
/* message 3 */
.journeyTimeline3 {
  position: absolute;
  right: -250px;
  top: 20px;
}
/* message 4 */
.journeyTimeline4 {
  position: absolute;
  right: -250px;
  top: 290px;
}
/* For Medium devices */
@media screen and (max-width: 1150px) {
  .journeySmallImg {
    right: -230px;
  }
  .journeyArrowImg {
    left: 380px;
  }
  .journeyDot1 {
    right: 235px;
  }
  .journeyDot2 {
    right: 235px;
  }
  .journeyDot3 {
    right: 235px;
  }
  .journeyDot4 {
    right: 235px;
  }
  .journeyTimeline1 {
    left: 60px;
  }
  .journeyTimeline2 {
    left: 60px;
  }
  .journeyTimeline3 {
    top: -20px;
    right: -75px;
  }
  .journeyTimeline4 {
    top: 270px;
    right: -75px;
  }
  .journeyImg {
    left: -120px;
  }
  .journeyCercle {
    left: -60px;
  }
  .ourJourneyTitleContainer {
    left: 200px;
    top: -90px;
  }
  .ourJourneyDescription {
    width: 450px;
  }
  .journeyCercle2 {
    top: 10px;
    left: -50px;
  }
}
/* for samll mobiles */
@media screen and (max-width: 728px) {
  .journeyImg {
    top: 80px;
    left: 50px;
    width: 300px;
    height: 300px;
  }
  .journeySmallImg {
    right: 70px;
    top: -80px;
  }
  .jouneyCercle3 {
    left: 0;
  }
  .ourJourneyTitleContainer {
    width: 100%;
    left: 100px;
    top: -200px;
  }
  .ourJourneyDescription {
    width: 300px;
  }
  .journeyArrow {
    display: none;
  }
  .journeyTimeline1 {
    left: 25px;
  }
  .journeyTimeline3 {
    left: 25px;
  }
  .journeyTimeline4 {
    top: 315px;
    left: 25px;
  }
  .journeyTimeline2 {
    top: 470px;
    left: 25px;
  }
}
@media screen and (max-width: 420px) {
  .ourJourneyTitleContainer {
    width: 200px;
    left: 20px;
  }
  .ourJourneyDescription {
    width: 340px;
  }
  .journeyTimeline3 {
    width: 100%;
  }
  .journeyTimeline2 {
    width: 100%;
  }
  .journeyTimeline1 {
    width: 100%;
  }
  .journeyTimeline4 {
    width: 100%;
  }
  .journey-img-container {
    left: -1px;
  }
  .journeyTimeline1 {
    top: 190px;
  }
  .journeyTimeline2 {
    top: 350px;
  }
  .journeyTimeline4 {
    top: 515px;
  }
}
/* for I pad */
@media screen and (max-width: 770px) and (min-width: 419px) {
  .ourJourneyTitleContainer {
    width: 200px;
    top: -150px;
    left: 300px;
  }
  .jouneyCercle3 {
    left: 400px;
  }
  .journeyImg {
    width: 300px;
    height: 300px;
    top: 60px;
    left: -60px;
  }
  .journeyCercle {
    top: 60px;
  }
  .journeyArrowImg {
    left: 295px;
  }
  .journeyTimeline1 {
    left: -70px;
  }
  .journeyTimeline2 {
    left: -70px;
  }
  .journeyTimeline3 {
    left: 340px;
  }
  .journeyTimeline4 {
    left: 340px;
  }
}
