.jounrneyContainer {
  background-image: url("../../Images/journeyBackground.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position-y: bottom;
  width: 100%;
  z-index: 100;
  position: relative;
}
.ourJourneyTitleContainer {
  position: absolute;
  top: -55px;
  left: 30%;
  width: 610px;
  z-index: 50;
}
.ourJourneyTitle {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: -10px;
}
.ourJourneyDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}
.journeyCercle2 {
  position: absolute;
  top: -20px;
  left: -180px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff8db;
  z-index: -100;
}
.journeySmallImg {
  position: absolute;
  right: -650px;
  top: -42px;
}
.journey-img-container {
  width: 350px;
  height: 350px;
}
.journeyImg {
  top: 165px;
  left: -80px;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 100;
}
.journeyCercle {
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  top: 180px;
  left: -37px;
  background-color: #fffef9;
}
.jouneyCercle3 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: -30px;
  left: 550px;
  background-color: #ff730b;
}
.jouneyCercle4 {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: -50px;
  left: -400px;
  background-color: #ff730b;
}
.jouneyCercle5 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #ffedd4;
  top: -180px;
  left: -350px;
  background-color: transparent;
}
.journeyTimelineContainer {
  height: 800px;
  width: 100%;
  left: -30px;
  position: relative;
}
.journeyArrowImg {
  position: absolute;
  right: 180px;
  top: 80px;
  height: 80%;
}
/* Dots css */
.journeyDot1 {
  position: absolute;
  right: 172px;
  top: 80px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot1 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 2 */
.journeyDot2 {
  position: absolute;
  right: 172px;
  top: 220px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot2 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 3 */
.journeyDot3 {
  position: absolute;
  right: 172px;
  top: 340px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot3 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
/* Dot 4 */
.journeyDot4 {
  position: absolute;
  right: 172px;
  top: 460px;
  width: 25px;
  height: 25px;
  background-color: #fffbf6;
  border: 2px solid #ff9446;
  border-radius: 50%;
}
.journeySamllDot4 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #ff9446;
  border-radius: 50%;
}
.timeLineHeader {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.timeLineDes {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* message 1 */
.journeyTimeline1 {
  position: absolute;
  left: 230px;
  top: 160px;
}
/* messasge 2 */
.journeyTimeline2 {
  position: absolute;
  left: 230px;
  top: 400px;
}
/* message 3 */
.journeyTimeline3 {
  position: absolute;
  right: -250px;
  top: 20px;
}
/* message 4 */
.journeyTimeline4 {
  position: absolute;
  right: -250px;
  top: 290px;
}
