.headerContainer {
  background-image: url("../../Images/headerWhite.png");
  background-image: url("../../Images/headerBackground.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position-y: bottom;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  /* background-color: #fff1dc; */
}
.logoContainer {
  position: relative;
  top: 1px;
}
.logos {
  display: flex;
  align-items: center;
}
.logoText {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-left: 1rem;
  position: relative;
  left: -25px;
}
.nav-container {
  display: flex;
}
.nav-container li {
  list-style: none;
  margin-right: 1rem;
}
.navLink {
  text-decoration: none;
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
}
.navLink:hover {
  color: #fe6806;
}
.navLink:active {
  color: #fe6806;
}
.buyBtn {
  border: none;
  background-color: transparent;
}
.buyLink {
  text-decoration: none;
  color: #fe6806;
  border: 1px solid #fe6806;
  padding: 8px 15px;
  border-radius: 20px;
}
.menuToggle {
  display: none;
  cursor: pointer;
}
.menuClose {
  display: none;
  cursor: pointer;
}

/* Resposive Menu CSS */
@media screen and (max-width: 1200px) {
  .MenuHidden {
    position: absolute;
    display: block;
    height: 100vh;
    background-color: #fff1dc;
    z-index: 100;
    width: 40%;
    left: -100%;
    text-align: center;
    padding-top: 50px;
    line-height: 40px;
    font-size: 20px;
    transition: 1s ease;
  }
  .menuActive {
    position: absolute;
    display: block;
    height: 100vh;
    background-color: #fff1dc;
    z-index: 100;
    width: 60%;
    left: 0;
    text-align: center;
    padding-top: 50px;
    line-height: 40px;
    font-size: 20px;
    transition: 0.5s ease;
  }
  .menuClose {
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 30px;
    color: #fe6806;
  }
  .menuToggle {
    display: block;
    font-size: 30px;
    color: #fe6806;
  }
  .buyBtnContainer {
    display: none;
  }
  .buyBtnForMobile {
    display: block;
    margin: 30px auto;
  }
}
