.banner-buy-btn {
  margin-top: 1.3rem;
  border: none;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ffa622, #fd5b00);
  color: #ffffff;
  cursor: pointer;
}
.headerRewardContainer {
  position: relative;
}
.bannerImageContainer {
  position: relative;
  top: -3.5rem;
  z-index: 10 !important;
}
.bannerImg {
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: 100;
}
.img {
  z-index: 100;
  width: 30rem;
  height: 30rem;
}
.banner2 {
  width: 8rem;
}
.sercle-1 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: #ffddad;
  border-radius: 50%;
  top: 9rem;
  left: 5rem;
  z-index: 3;
}
.sercle-2 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: #fffaf3;
  border-radius: 50%;
  top: 1rem;
  left: 17rem;
  z-index: 1;
}
.sercle-3 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #fffaf3;
  border-radius: 50%;
  top: 1rem;
  left: -6rem;
  z-index: 1;
}
.miniSercle1 {
  position: absolute;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  background-color: #fffaf3;
  border-radius: 50%;
  border: 5px solid #fe6806;
  top: 3rem;
  left: 31.1rem;
}
.miniSercle2 {
  position: absolute;
  z-index: 5;
  bottom: 5rem;
  left: -4rem;
  width: 1rem;
  height: 1rem;
  background-color: #fe6806;
  border-radius: 50%;
}
.miniSercle3 {
  position: absolute;
  z-index: 5;
  bottom: 5rem;
  top: 4.8rem;
  left: -6rem;
  width: 1rem;
  height: 1rem;
  /* background-color: #fe6806; */
  border-radius: 50%;
  background-image: linear-gradient(to right, #ffa622, #fd5b00);
}
.miniSercle4 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 5;
  top: -1rem;
  right: 1rem;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.miniSercle5 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 5;
  top: 0.5rem;
  right: 0;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ffa622, #fd5b00);
}
.bannerImage2 {
  position: absolute;
  z-index: 5;
  left: -15rem;
  bottom: -5rem;
}
/* For Small Devices */
@media screen and (max-width: 768px) {
  .bannerImg {
    width: 23rem;
    top: 40px;
    left: 40px;
  }
  .headerRewardContainer {
    top: "-20px";
  }
}
