.banner-buy-btn {
  margin-top: 1.3rem;
  border: none;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #ffa622, #fd5b00);
  color: #ffffff;
  cursor: pointer;
}
.headerRewardContainer {
  position: relative;
}
.bannerImageContainer {
  position: relative;
  top: -3.5rem;
  z-index: 10 !important;
}
.bannerImg {
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: 100;
  animation: moveBannerImg 3s infinite linear;
}
.img {
  z-index: 100;
  width: 30rem;
  height: 30rem;
}
.banner2 {
  width: 8rem;
}
.sercle-1 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: #ffddad;
  border-radius: 50%;
  top: 9rem;
  left: 5rem;
  z-index: 3;
}
.sercle-2 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: #fffaf3;
  border-radius: 50%;
  top: 1rem;
  left: 17rem;
  z-index: 1;
}
.sercle-3 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #fffaf3;
  border-radius: 50%;
  top: 1rem;
  left: -6rem;
  z-index: 1;
}
.miniSercle1 {
  position: absolute;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  background-color: #fffaf3;
  border-radius: 50%;
  border: 5px solid #fe6806;
  top: 3rem;
  left: 31.1rem;
}
.miniSercle2 {
  position: absolute;
  z-index: 5;
  bottom: 5rem;
  left: -4rem;
  width: 1rem;
  height: 1rem;
  background-color: #fe6806;
  border-radius: 50%;
  animation: floatLeftToRight 30s infinite linear;
  z-index: 150;
}
.miniSercle3 {
  position: absolute;
  z-index: 5;
  bottom: 5rem;
  top: 4.8rem;
  left: -6rem;
  width: 1rem;
  height: 1rem;
  /* background-color: #fe6806; */
  border-radius: 50%;
  background-image: linear-gradient(to right, #ffa622, #fd5b00);
  animation: floatRightToLeft 40s infinite linear;
  z-index: 50;
}
.miniSercle4 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 5;
  top: -1rem;
  right: 1rem;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.miniSercle5 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 5;
  top: 0.5rem;
  right: 0;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ffa622, #fd5b00);
  z-index: 150;
  animation: folot 30s infinite linear;
}
.bannerImage2 {
  position: absolute;
  z-index: 5;
  left: -15rem;
  bottom: -5rem;
}
.buyBtnForMobile {
  display: none;
  border: none;
  background-color: transparent;
}
/* For Small Devices */
@media screen and (max-width: 1050px) and (min-width: 771px) {
  .sercle-2 {
    top: 50px;
    left: 180px;
  }
  .miniSercle1 {
    left: 450px;
  }
}
@media screen and (max-width: 770px) {
  .bannerImg {
    width: 23rem;
    top: 40px;
    left: 40px;
  }
  .headerRewardContainer {
    top: "-20px";
  }
  .sercle-2 {
    top: 50px;
    left: 150px;
  }
  .miniSercle1 {
    left: 400px;
  }
}
@media screen and (max-width: 420px) {
  .bannerImg {
    width: 25rem;
    height: 25rem;
    top: 40px;
    left: -200px;
  }
  .headerRewardContainer {
    top: "-20px";
  }
  .sercle-2 {
    width: 18rem;
    height: 18rem;
    top: 40px;
    left: -110px;
  }
  .sercle-1 {
    width: 18rem;
    height: 18rem;
    top: 100px;
    left: -140px;
  }
  .miniSercle1 {
    left: -150px;
  }
  .img {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .img {
    width: 12rem;
  }
  .bannerImg {
    width: 24.5rem;
    height: 25rem;
    top: 40px;
    left: -120px;
  }
  .sercle-1 {
    width: 18rem;
    height: 18rem;
    top: 100px;
    left: -65px;
  }
  .sercle-2 {
    width: 18rem;
    height: 18rem;
    top: 60px;
    left: -30px;
  }
}

/* animations */
@keyframes moveBannerImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/*Float animation laft to right  */
@keyframes floatLeftToRight {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-400px, 0);
  }
  50% {
    transform: translate(0, -400px);
  }
  75% {
    transform: translate(400px, 0px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes floatRightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes folot {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-400px, 0);
  }
  50% {
    transform: translate(0, 400px);
  }
  75% {
    transform: translate(400px, 0px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes float2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(400px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-400px, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes float4 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-600px, 0);
  }
  50% {
    transform: translate(0px, 200px);
  }
  75% {
    transform: translate(400px, -200px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes float3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-400px, 0);
  }
  50% {
    transform: translate(200px, 300px);
  }
  75% {
    transform: translate(200px, 0px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes tokenCircleAnimatin1 {
  0% {
    transform: translate();
  }
  25% {
    transform: translate(800px, 0);
  }
  50% {
    transform: translate(400px, 200px);
  }
  75% {
    transform: translate(200px, 200px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes tokenCircle6Animation {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-600px, 0);
  }
  50% {
    transform: translate(-100px, 300px);
  }
  /* 75% {
    transform: translate(100px, 0px);
  } */
  100% {
    transform: translate(0);
  }
}
@keyframes journeyCircl4animation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(600px, 200px);
  }
  100% {
    transform: translate(0);
  }
}
